// Banner Layout Styles \\
.section--banner {
  background: #f0f0f0;
  color: $c-primary;
}


.banner {
  padding: 0 $m-gutter;


  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 2rem;

    > * {
      flex-grow: 1;
    }

    &__left {
      flex-basis: calc(75% - #{$m-gutter * 6});
      margin-right: $m-gutter * 6;
    }

    &__right {
      flex-basis: 25%;
    }
  }

  &__bottom {
    margin-bottom: 1rem;
  }
}



@media (max-width: 875px) {
  // Layout
  .banner {
    &__top {
      flex-direction: column;
      align-items: flex-start;

      &__left {
        margin-right: 0;
      }

      > * + *  {
        margin-top: $m-gutter * 2;
      }
    }
  }
}
