// HERO \\
.section--hero {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 4rem);
  background: $g-brandgradientinverse;
  color: $c-textdark;
}

.hero {
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;

  &__name {
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    font-weight: inherit;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
  }

  &__message {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.15rem;

    &__span {
      font-size: 0.9rem;
      font-style: italic;
      text-transform: lowercase;
    }
  }

  &__arrow {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    margin: 0;
    transform: translateX(-50%);
  }

  &__arrow__lines {
    width: 2.5rem;
    height: 2.5rem;
    transform: rotate(-45deg);
    border-bottom: 0.1rem solid $c-textlight;
    border-left: 0.1rem solid $c-textlight;
  }
}

@media (max-width: 500px) {
  .hero__name {
    font-size: 1.5rem;
  }

  .hero__message {
    font-size: 0.75rem;
  }
}
