// HERO \\
.section--hero {
  display: flex;
  position: relative;
  align-content: center;
  // justify-content: center;
  height: calc(100vh - 4rem);
  background: $c-textlight;
}

.hero {
  width: 100%;
  height: 100%;
  font-weight: 100;
  text-transform: uppercase;

  &__name {
    background: $g-brandgradientreverse;
    font-family: 'Archivo Black', sans-serif;
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  &__message {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    // letter-spacing: 0.15rem;
    background: $g-brandgradientreverse;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;

    &__span {
      font-size: 0.9rem;
      font-style: italic;
      text-transform: lowercase;
    }
  }

  &__arrow {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    margin: 0;
    transform: translateX(-50%);
  }

  &__arrow__lines {
    width: 2.5rem;
    height: 2.5rem;
    transform: rotate(-45deg);
    border-bottom: 0.1rem solid $c-textlight;
    border-left: 0.1rem solid $c-textlight;
  }
}

@media (max-width: 600px) {
  .hero__name {
    font-size: 3rem;
  }

  .hero__message {
    font-size: 1rem;
  }
}
