// fix iOS bug not displaying 100vh correctly
// ipad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .section--hero {
    height: calc(768px + 4rem);
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .section--hero {
    height: calc(1024p + 4rem);
  }
}
// iphone5
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  .section--hero {
    height: calc(320px + 4rem);
  }
}
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .section--hero {
    height: calc(568px + 4rem);
  }
}
// iPhone 4
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .section--hero {
    height: calc(320px + 4rem);
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .section--hero {
    height: calc(480px + 4rem);
  }
}
