// LAYOUT \\
.wrapper { // for pushing page down below fixed nav bar
  position: relative;
  top: 4rem;
  width: calc(100% - 1rem);
  box-shadow: none;
}

.section {
  padding: $m-gutter;
}

.container {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
}

.container--large {
  max-width: 1500px;
  margin: 0 auto;
}
