

body {
  position: relative;
  right: 0;
  margin: 0;
  transition: right 800ms;
}

.body {
  &--open {
    position: relative;
    right: 18rem;
    transition: right 800ms;
  }
}


// Menu Button
.menu-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  &__text {
    margin: 0 1rem 0 0;
  }
}


// Menu
.section--menu {
  display: flex;
  position: fixed;
  top: 0;
  right: -18rem;
  flex-direction: column;
  justify-content: space-between;
  width: 18rem;
  height: 100vh;
  transition: right 800ms;
  background: $c-secondary;
  color: $c-text;

  &--open {
    right: 0;
  }
}

// Nav List Styles \\
.nav-list {
  margin: 4rem 0 0;

  &__item {
    padding: 1rem;
    font-size: 1.75rem;

    > .fa {
      font-size: 2.5rem;
    }

    > * + * {
      margin-left: $m-gutter;
    }
  }
}


// Hamburger
.hamburger {
  > * + * {
    margin-top: 0.25rem;
  }
}

.line {
  position: relative;
  width: 1.5rem;
  height: 2px;
  border-radius: 0.3rem;
  background: $c-text;

  &--mid {
    right: 0;
    transition: right 800ms, background 800ms, width 800ms;

    &--open {
      right: 4rem;
      width: 3.1rem;
      background: $t-clear;
    }
  }

  &--top {
    top: 0;
    transition: top 800ms, transform 800ms;

    &--open {
      top: 0.25rem;
      transform: rotate(45deg);
    }
  }

  &--bottom {
    bottom: 0;
    transition: bottom 800ms, transform 800ms;

    &--open {
      bottom: 0.5rem;
      transform: rotate(-45deg);
    }
  }
}
