// TOP NAV \\
.section--top-nav {
  position: fixed;
  width: 100%;
  padding: $m-gutter;
  transition: box-shadow 2000ms;
  background: $g-brandgradientreverse;
  box-shadow: none;
  z-index: 100;

  &--open {
    transition: box-shadow 2000ms;
    box-shadow: $s-basic;
  }
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $c-textlight;
}

.logo {
  margin: 0;
  font-family: 'Archivo Black', sans-serif;
  font-size: 2rem;
  line-height: 2rem;
}
