// TOP NAV \\
.section--top-nav {
  position: fixed;
  width: 100%;
  padding: $m-gutter ($m-gutter * 2);
  background: $c-primary;
  z-index: 100;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $c-text;
}

.logo {
  margin: 0;
  color: $c-text;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  line-height: 2rem;
}
