// VARIABLES \\
// Colors
$c-primary: #000;
$c-secondary: #fff;

// Gradients


// Shadows & Borders


// Measurements
$m-gutter: 1rem;



// IMPORTS \\
/**************************************
How to use the imported fonts:
font-family: 'Archivo Black', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
**************************************/


// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Open+Sans|Open+Sans+Condensed:300'); // GOOGLE fonts
@import 'box-sizing'; // Really great box-sizing styles, thanks OP!
@import 'resets'; // Default style resets to make elements play nicely with minimal effort
@import 'layout'; // Styles for site-wide layout (.section, .container, .grid, etc)
@import 'top-nav'; // Styles for site-wide top navigation
@import 'hero'; // Styles for giant hero section
