// VARIABLES \\
$c-primary:        steelblue;
$c-secondary:      seagreen;
$c-accent:         linear-gradient(-25deg, $c-primary, $c-secondary);

// Text Colors
$c-textdark: #fefefe;
$c-textlight: #fefefe;

// Project Specific Colors
$c-fortyten: #343435;
$c-rockspot: #36685d;

// Translucent Colors
$t-clear: rgba(255, 255, 255, 0);

// Gradients
$g-brandgradient: linear-gradient(-25deg, $c-primary, $c-secondary);
$g-brandgradientreverse: linear-gradient(to left, $c-secondary, $c-primary);
$g-brandgradientinverse: linear-gradient(45deg, $c-primary, $c-secondary);

// Shadows & Borders
$s-basic: 0 5px 8px 2px rgba(0, 0, 0, 0.24);
$s-left: -3px 63px 5px 2px rgba(0, 0, 0, 0.24);
$s-outer: 3px -3px 25px 5px rgba(0, 0, 0, 0.24);

// Measurements
$m-gutter: 1rem;

// IMPORTS \\
/**************************************
How to use the imported fonts:
font-family: 'Archivo Black', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Londrina Outline', cursive;
**************************************/

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Archivo+Black'); // GOOGLE fonts
@import 'box-sizing'; // Really great box-sizing styles, thanks OP!
@import 'resets'; // Default style resets to make elements play nicely with minimal effort
@import 'layout'; // Styles for site-wide layout (wrapper, section, container, etc)
@import 'top-nav'; // Styles for site-wide top navigation
@import 'hero'; // Styles for giant hero section
@import 'grid'; // No margin grid on index with hover states
@import 'banner'; // Styles for banners on detail page
@import 'menu'; // Sliding menu styles

// Components \\
@import './components/banner'; // Banner component styles

// PROJECT SPECIFIC STYLES \\
.project-mockup {
  border-radius: 0.25rem;

  &--fortyten {
    border: 5px solid $c-fortyten;
  }

  &--rockspot {
    border: 5px solid $c-rockspot;
  }
}


// Detail Page Styles \\
.content {
  max-width: 60rem;
  margin: 0 auto;
  padding: $m-gutter * 2;

  > * + * {
    margin-top: $m-gutter * 3;
  }
}

// WORK - INDEX PAGE STYLES \\
.section--work {
  width: 100%;
  height: calc(100vh - 4rem);
  padding: 0;
  background: $c-textlight;
}

// ABOUT - INDEX STYLES
.section--about {
  width: 100%;
  height: calc(100vh - 4rem);
  padding: 0;
}
