// VARIABLES \\
// Colors
$c-primary: #000;
$c-secondary: #fff;

// Translucent Colors
$t-solidwhite: rgba(255, 255, 255, 0.9);
$t-notsolidwhite: rgba(255, 255, 255, 0.25);
$t-clearwhite: rgba(255, 255, 255, 0.05);
$t-clear: rgba(255, 255, 255, 0);
$t-clearblack: rgba(0, 0, 0, 0.65);

// Gradients
$g-arrow: linear-gradient(45deg, $t-solidwhite, $t-notsolidwhite 2%, $t-clearwhite  20%, $t-clear 30%);
// $g-arrow: radial-gradient(circle at left bottom, $t-solidwhite, $t-notsolidwhite 10%, $t-clear 40%);
$g-blackoverlay: linear-gradient($t-clearblack, $t-clearblack);


// Shadows & Borders


// Measurements
$m-gutter: 1rem;



// IMPORTS \\
/**************************************
How to use the imported fonts:
font-family: 'Archivo Black', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Londrina Outline', cursive;
**************************************/


// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Londrina+Outline|Open+Sans|Open+Sans+Condensed:300'); // GOOGLE fonts
@import 'box-sizing'; // Really great box-sizing styles, thanks OP!
@import 'resets'; // Default style resets to make elements play nicely with minimal effort
@import 'layout'; // Styles for site-wide layout (.section, .container, .grid, etc)
@import 'top-nav'; // Styles for site-wide top navigation
@import 'hero'; // Styles for giant hero section

// WORK \\
.section--work {
  padding: 0;
}
